.head {
    text-transform: uppercase;
}/* 1. додайте клас до h1 і зробіть весь текст для класу заглавними літерами (text-transform: uppercase) */

.target{
    color: #f80404;
}/* 2. придумайте назву класа для списку цілей і встановіть колір шрифту червоним у шістнадцятковому форматі */

.list__item{
    font-style: italic;
    background: yellow;
    color: red;
}/* 3. пунктам списку цілей за класом дайте колір заднього фону yellow і нахилений шрифт (font-style: italic)*/

.numer{
    border: 1px solid red;
}/* 4. для усіх впорядкованих списків задайте рамку 1px solid red */

#gren{
    color: green;
}/* 5. задайте id (ідентифікатор) для заголовку першого рівня і встановіть на нього колір шрифта green */

.hello{
    color: green;
    font-style: italic;
}/* 6. для всіх посилань на PDF-документи втсановити стиль: колір зелений і font-style: italic */

a {
    color: violet;
    text-decoration: none;
}/* 7. для всіх посилань втсановити колір шрифта violet та заберыть підкреслення (text-decoration: none).
   Питання: чому PDF-файли вже не підкреслені але все ж лишились зелені? */


.up{
    text-transform: uppercase;
}/* 8. Встановіть всі заглавні літери (text-transform: uppercase) для усіх вкладнених списків другого рівня*/

p a{
    color: magenta;
    background-color: mistyrose;
}/* 9. для всіх посилань що знаходяться всередині абзаців встановити колір шрифта magenta і задній фон кольору mistyrose */

.bold{
    font-weight: bold;
}/* 10. створити клас bold який буде будь-який текст перетворювати на жирний і застосувати його: 1) до двох останіх   пунктів цілей 2) до першого довгого абзацу (той що під основним заголовком).
  Питання: чому у нас одночасно і bold i italic?
*/

li .bold{
    text-transform: uppercase;
}/* 11. для всіх тегів li з класом bold встановити всі заглавні літери */

.gap{
    font-size: 15px;
    border: 1px solid blue;
    text-align: right;
}/* 12. другий довгий абзац і передостанній "Написати нам листа" вирійвняйте по правому краю, додайте синю рамку навколо та встановіть розмір шрифта 20px */

h1{
    color: red;
}/* 13. на тег h1 встановіть колір шрифта червоний. Чому він не спрацює і що можна зробити щоб він спрацював?
  Відповідь: не змінюється тому що id за пріорітетом важливіший.Щоб колір був червоний потрібно додати !important після red*/

*{
    box-sizing: border-box;
}/* 14. для всіх можливих селекторів встановіть властивість box-sizing: border-box (у DevTools перегляньте які CSS властивості у елементів активні і визначте чи успішно виконано завдання) */

/* 15. зробіть так, щоб задній фон цілей був не на всю ширину сторінки бо це блочці елементи, а лише по довжині кожного з елементів (відповідь: огорнути текст у рядкові span-и застосувати background до них) */